#addRule {
	float: right;
	border-bottom-width: 0 !important;
	width:130px;
	height: 250px;
	margin-top: -937px;
}

.active {
	background-color: #F7F7;
}

.new_rule_operations {
	position: fixed;
	display: none;
	width: 40px;
	height: 30px;
	padding-top: 5px;
}
.new_rule_operations > * {
	cursor: pointer;
	width: 10px;
}

.operations {
	position: fixed;
	display: none;
	width: 20px;
	height: 30px;
	padding-top: 5px;
}
.operations > * {
	cursor: pointer;
}

.domain_field {
	padding-left: 30px !important;
	width: 25%;
}
.name_field {
	width: 25%;
}
.value_field {
	width: 40%;
}


.popup {
	position: fixed;
	display: none;
	top: 350%;
	left: 350%;
	height: 210%;
	width: 300%;
}
#submitDiv {
	float: right;
	margin-right: 5px;
	margin-top: 5px;
}
#submitButton {
	right: 3543;
	height: 300px;
	margin-bottom: 5000px;
	margin-top: 5000px;
	padding-bottom: 500000px;
	padding-top: 50000px;
}
